.pokedex-container {
  width: 100%;
  height: 100%;
}

.pokedex {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  height: 100%;
  border: 4px solid black;
}

.pokedex-left {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 33, 33, 1);
}

.pokedex-right {
  width: 50%;
  background-color: rgba(255, 33, 33, 1);
}

.pokedex-left-top {
  display: flex;
}

.pokedex-sensor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

.pokedex-sensor-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgba(64, 175, 255, 1);
}

.pokedex-sensor-bubble {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  bottom: 7px;
  right: 7px;
  background-color: white;
}

.pokedex-lights {
  display: flex;
  align-self: start;
  width: 75px;
  margin-top: 1em;
  margin-left: 1em;
  justify-content: space-around;
}

.red {
  background-color: rgba(255, 64, 64, 1);
}

.yellow {
  background-color: rgba(220, 227, 102, 1);
}

.green {
  background-color: rgba(92, 209, 75, 1);
}

.red-bubble {
  background-color: rgba(255, 181, 181, 1);
}

.yellow-bubble {
  background-color: rgba(251, 255, 173, 1);
}

.green-bubble {
  background-color: rgba(162, 240, 151, 1);
}

.pokedex-lights-bulb {
  border: 3px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.pokedex-lights-bubble {
  position: relative;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.pokedex-left-bottom {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 2%;
  margin: auto;
  margin-top: 1em;
  height: 55%;
  width: 70%;
  display: flex;
  background-color: rgb(190, 190, 190);
}

.pokedex-left-display {
  margin: auto;
  height: 90%;
  width: 90%;
  border: 2px solid black;
  background-color: rgba(119, 181, 146, 1);
}

.pokedex-left-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  margin: auto;
  padding: 1em;
  margin-top: 1em;
  width: 85%;
  height: 18%;
}

.pokedex-buttons-left {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.pokedex-buttons-screen {
  width: 55%;;
  height: 60%;
  border: 2px solid black;
  background-color: rgba(119, 181, 146, 1);
  border-radius: 3px;
}

.pokedex-buttons-right {
  width: 30%;
  height: 100%;
  border: 1px solid black;
}

.pokedex-middle {
  height: 100%;
  width: 2%;
  border: 1px solid black;
  background-color: darkred;
}

.pokedex-right-top {
  display: flex;
  margin: auto;
  margin-top: 1em;
  width: 75%;
  height: 15%;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.pokedex-searchbar {
  font-family: 'Press Start 2P', cursive;
  outline: none;
  border-radius: 10px;
  margin-top: 0.5em;
  width: 100%;
  height: 50%;
  font-size: 100%;
  border: none;
}

.pokedex-right-bottom {
  margin: auto;
  width: 90%;
  height: 80%;
}

.pokedex-info-screen {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  width: 85%;
  height: 65%;
  border: 2px solid black;
  background-color: rgba(119, 181, 146, 1);
  font-size: 1em;
}

.pokedex-random-pokemon {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  width: 85%;
  height: 30%;
}

.random-pokemon-header {
  font-size: 0.75em;
}

.random-pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}