.pokedex-container {
  width: 100%;
  height: 100%;
}

.pokedex {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  height: 100%;
  border: 5px solid black;
}

.pokedex-left {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 46, 46, 1);
}

.pokedex-right {
  width: 50%;
  background-color: rgba(255, 46, 46, 1);
}

.pokedex-left-top {
  display: flex;
}

.pokedex-sensor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

.pokedex-sensor-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgba(64, 175, 255, 1);
}

.pokedex-sensor-bubble {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  bottom: 7px;
  right: 7px;
  background-color: white;
}

.pokedex-lights {
  display: flex;
  align-self: start;
  width: 75px;
  margin-top: 1em;
  margin-left: 1em;
  justify-content: space-around;
}

.red {
  background-color: rgba(255, 64, 64, 1);
}

.yellow {
  background-color: rgba(220, 227, 102, 1);
}

.green {
  background-color: rgba(92, 209, 75, 1);
}

.red-bubble {
  background-color: rgba(255, 181, 181, 1);
}

.yellow-bubble {
  background-color: rgba(251, 255, 173, 1);
}

.green-bubble {
  background-color: rgba(162, 240, 151, 1);
}

.pokedex-lights-bulb {
  border: 3px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.pokedex-lights-bubble {
  position: relative;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.pokedex-left-bottom {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 2%;
  margin: auto;
  margin-top: 1em;
  height: 55%;
  width: 70%;
  display: flex;
  background-color: rgb(190, 190, 190);
}

.pokedex-left-display {
  position: relative;
  margin: auto;
  height: 90%;
  width: 90%;
  border: 2px solid black;
  background-color: rgba(119, 181, 146, 1);
}

.pokedex-left-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 1em;
  margin-top: 1em;
  width: 85%;
  height: 18%;
}

.pokedex-buttons-left {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgba(65, 65, 65, 1);
}

.pokedex-buttons-screen {
  width: 55%;;
  height: 60%;
  border: 2px solid black;
  background-color: rgba(119, 181, 146, 1);
  border-radius: 3px;
}

.pokedex-buttons-screen > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  hyphens: auto;
  text-transform: capitalize;
}

.pokedex-buttons-right {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-buttons-vertical {
  position: absolute;
  transform: rotate(90deg);
  background-color: rgba(65, 65, 65, 1);
  border-radius: 5px;
  height: 18px;
  width: 64px;
  border: 2px solid black;
}

.pokedex-buttons-horizontal {
  position: absolute;
  background-color: rgba(65, 65, 65, 1);
  border-radius: 5px;
  height: 18px;
  width: 64px;
  border: 2px solid black;
}

.pokedex-buttons-center-circle {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: solid black 2px;
  z-index: +2;
}

.pokedex-middle {
  height: 100%;
  width: 2%;
  border: 1px solid black;
  background-color: darkred;
}

.pokedex-right-top {
  display: flex;
  margin: auto;
  margin-top: 1em;
  width: 75%;
  height: 15%;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 999;
  // width: 100%;
}

.pokedex-searchbar {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  outline: none;
  border-radius: 10px;
  margin-top: 0.5em;
  // width: 100%;
  height: 2em;
  font-size: 100%;
  border: none;
  z-index: 999;
}

.predict-true {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 999;
}

.pokedex-right-bottom {
  margin: auto;
  width: 90%;
  height: 80%;
}

.pokedex-info-screen {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  width: 83%;
  height: 65%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(119, 181, 146, 1);
  font-size: 1em;
}

.pokedex-random-pokemon {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  width: 85%;
  height: 30%;
}

.random-pokemon-header {
  font-size: 0.75em;
}

.random-pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.normal {
  background: linear-gradient(-45deg, #c99b6d, #d2b292, #b48555, #ebb783);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.fire {
  background: linear-gradient(-45deg, #ff7024, #ff8f53, #c74a18, #b36236);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.water {
  background: linear-gradient(-45deg, #36e1ff, #61e6fd, #26a8be, #62cfe2);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.grass {
  background: linear-gradient(-45deg, #75f793, #87ffa3, #2da549, #5cfc81);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.electric {
  background: linear-gradient(-45deg, #e6d92c, #e9ec3e, #9e951b, #ece252);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.ice {
  background: linear-gradient(-45deg, #c2fffa, #6bc0b9, #40837d, #7df0e6);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.fighting {
  background: linear-gradient(-45deg, #bb5050, #be6161, #963a3a, #995252);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.ground {
  background: linear-gradient(-45deg, #aba780, #aca566, #4b4830, #797660);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.flying {
  background: linear-gradient(-45deg, #d6bae6, #b878dd, #553866, #b07acf);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.psychic {
  background: linear-gradient(-45deg, #994a90, #e483d8, #724f6e, #c07db8);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.bug {
  background: linear-gradient(-45deg, #92c57d, #7da86a, #477036, #4d7e39);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.rock {
  background: linear-gradient(-45deg, #8d6739, #977954, #644622, #583c18);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.ghost {
  background: linear-gradient(-45deg, #534163, #34293d, #754c99, #372647);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.dark {
  background-color: #543c0c;
  background: linear-gradient(-45deg, #543c0c, #473d29, #837964, #382c14);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.dragon {
  background: linear-gradient(-45deg, #3d1ac9, #2b2641, #5d518b, #100247);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.fairy {
  background: linear-gradient(-45deg, #363636, #b43671, #a671c5, #d3a8c5);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.steel {
  background: linear-gradient(-45deg, #ffbebe, #d7e8ff, #383838, #252e49);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.poison {
  background: linear-gradient(-45deg, #844591, #cb92dd, #883ba0, #fca4ff);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pokedex-search-input {
  position: relative;
  width: 100%;
  z-index: 999;
}

.search-predict {
  position: absolute;
  // top: 66%;
  top: 2.65em;
  overflow: auto;
  width: 100%;
  max-height: 46vh;
  background-color: white;
  z-index: 99;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-predict::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
}

.search-predict::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.search-predict::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.65);
}

.search-prediction-results {
  margin: 1em 0;
}

.search-prediction-results:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.animate-true {
  -webkit-animation-name: sensor-flash;
  -webkit-animation-duration: 0.5s;

  animation-name: sensor-flash;
  animation-duration: 0.5s;
}

.error-true {
  -webkit-animation-name: error-flash;
  -webkit-animation-duration: 0.5s;

  animation-name: error-flash;
  animation-duration: 0.5s;
}

@-webkit-keyframes sensor-flash {  
  0% { background: rgba(64, 175, 255, 0.2); } 
  25% { background: rgba(64, 175, 255, 1 ); }
  50% { background: rgba(64, 175, 255, 0.2 ); }
  75% { background: rgba(64, 175, 255, 1); }
  85% { background: rgba(64, 175, 255, 0.6); }
  100% { background: rgba(64, 175, 255, 1); }
}

@keyframes sensor-flash {  
  0% { background: rgba(64, 175, 255, 0.2); } 
  25% { background: rgba(64, 175, 255, 1 ); }
  50% { background: rgba(64, 175, 255, 0.2 ); }
  75% { background: rgba(64, 175, 255, 1); }
  85% { background: rgba(64, 175, 255, 0.6); }
  100% { background: rgba(64, 175, 255, 1); }
}

@-webkit-keyframes error-flash {  
  0% { background: rgba(255, 0, 0, 0.2); } 
  25% { background: rgba(255, 0, 0, 1 ); }
  50% { background: rgba(255, 0, 0, 0.2 ); }
  75% { background: rgba(255, 0, 0, 1); }
  85% { background: rgba(255, 0, 0, 0.6); }
  100% { background: rgba(255, 0, 0, 1); }
}

@keyframes error-flash {  
  0% { background: rgba(255, 0, 0, 0.2); } 
  25% { background: rgba(255, 0, 0, 1 ); }
  50% { background: rgba(255, 0, 0, 0.2 ); }
  75% { background: rgba(255, 0, 0, 1); }
  85% { background: rgba(255, 0, 0, 0.6); }
  100% { background: rgba(255, 0, 0, 1); }
}

@media (min-width: 3440px) {
  .pokedex {
    width: 65%;
  }
}

@media (max-width: 2900px) {
  .pokedex {
    width: 80%;
  }
}

@media (max-width: 2000px) {
  .pokedex {
    width: 85%;
  }
}

@media (max-width: 1800px) {
  .pokedex {
    width: 90%;
  }
}

@media (max-width: 1650px) {
  .main-container {
    width: 85vw;
  }
}

@media (max-width: 1550px) {
  .main-container {
    width: 90vw;
  }
}


@media (max-width: 1450px) {
  .main-container {
    width: 95vw;
  }
}

@media (max-width: 1375px) {
  .main-container {
    width: 100vw;
  }
}

@media (max-width: 1050px) {
  .search-container {
    width: 100%;
  }

  .pokedex-searchbar {
    width: 100%;
  }
}