.pokedex-container {
  width: 100%;
  height: 100%;
}

.pokedex {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  height: 100%;
  border: 5px solid black;
}

.pokedex-left {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 33, 33, 1);
}

.pokedex-right {
  width: 50%;
  background-color: rgba(255, 33, 33, 1);
}

.pokedex-left-top {
  display: flex;
}

.pokedex-sensor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

.pokedex-sensor-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgba(64, 175, 255, 1);
}

.pokedex-sensor-bubble {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  bottom: 7px;
  right: 7px;
  background-color: white;
}

.pokedex-lights {
  display: flex;
  align-self: start;
  width: 75px;
  margin-top: 1em;
  margin-left: 1em;
  justify-content: space-around;
}

.red {
  background-color: rgba(255, 64, 64, 1);
}

.yellow {
  background-color: rgba(220, 227, 102, 1);
}

.green {
  background-color: rgba(92, 209, 75, 1);
}

.red-bubble {
  background-color: rgba(255, 181, 181, 1);
}

.yellow-bubble {
  background-color: rgba(251, 255, 173, 1);
}

.green-bubble {
  background-color: rgba(162, 240, 151, 1);
}

.pokedex-lights-bulb {
  border: 3px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.pokedex-lights-bubble {
  position: relative;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.pokedex-left-bottom {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 2%;
  margin: auto;
  margin-top: 1em;
  height: 55%;
  width: 70%;
  display: flex;
  background-color: rgb(190, 190, 190);
}

.pokedex-left-display {
  position: relative;
  margin: auto;
  height: 90%;
  width: 90%;
  border: 2px solid black;
  background-color: rgba(119, 181, 146, 1);
}

.pokedex-left-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 1em;
  margin-top: 1em;
  width: 85%;
  height: 18%;
}

.pokedex-buttons-left {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgba(65, 65, 65, 1);
}

.pokedex-buttons-screen {
  width: 55%;;
  height: 60%;
  border: 2px solid black;
  background-color: rgba(119, 181, 146, 1);
  border-radius: 3px;
}

.pokedex-buttons-screen > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  hyphens: auto;
  text-transform: capitalize;
}

.pokedex-buttons-right {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-buttons-vertical {
  position: absolute;
  transform: rotate(90deg);
  background-color: rgba(65, 65, 65, 1);
  border-radius: 5px;
  height: 18px;
  width: 64px;
  border: 2px solid black;
}

.pokedex-buttons-horizontal {
  position: absolute;
  background-color: rgba(65, 65, 65, 1);
  border-radius: 5px;
  height: 18px;
  width: 64px;
  border: 2px solid black;
}

.pokedex-buttons-center-circle {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: solid black 2px;
  z-index: +2;
}

.pokedex-middle {
  height: 100%;
  width: 2%;
  border: 1px solid black;
  background-color: darkred;
}

.pokedex-right-top {
  display: flex;
  margin: auto;
  margin-top: 1em;
  width: 75%;
  height: 15%;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 999;
  // width: 100%;
}

.pokedex-searchbar {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  outline: none;
  border-radius: 10px;
  margin-top: 0.5em;
  // width: 100%;
  height: 2em;
  font-size: 100%;
  border: none;
  z-index: 999;
}

.predict-true {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 999;
}

.pokedex-right-bottom {
  margin: auto;
  width: 90%;
  height: 80%;
}

.pokedex-info-screen {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  width: 83%;
  height: 65%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(119, 181, 146, 1);
  font-size: 1em;
}

.pokedex-random-pokemon {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  width: 85%;
  height: 30%;
}

.random-pokemon-header {
  font-size: 0.75em;
}

.random-pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.normal {
  background-color: rgba(210, 178, 146, 1);
}

.fire {
  background-color: rgba(255, 112, 36, 1);
}

.water {
  background-color: rgba(92, 231, 255, 1);
}

.grass {
  background-color: rgba(135, 255, 163, 1);
}

.electric {
  background-color: rgba(230, 217, 44, 1);
}

.ice {
  background-color: rgba(194, 255, 250, 1);
}

.fighting {
  background-color: rgb(255, 78, 78);
}

.ground {
  background-color: rgba(171, 167, 128, 1);
}

.flying {
  background-color: rgba(214, 186, 230, 1);
}

.psychic {
  background-color: rgb(250, 121, 235);
}

.bug {
  background-color: rgba(122, 171, 103, 1);
}

.rock {
  background-color: rgba(171, 118, 53, 1);
}

.ghost {
  background-color: rgba(83, 65, 99, 1);
}

.dark {
  background-color: rgba(84, 60, 12, 1);
}

.dragon {
  background-color: rgba(61, 26, 201, 1);
}

.fairy {
  background-color: rgba(227, 172, 200, 1);
}

.steel {
  background-color: rgba(207, 207, 207, 1);
}

.poison {
  background-color: rgba(237, 77, 255, 1);
}

.pokedex-search-input {
  position: relative;
  width: 100%;
  z-index: 999;
}

.search-predict {
  position: absolute;
  // top: 66%;
  top: 2.65em;
  overflow: auto;
  width: 100%;
  max-height: 46vh;
  background-color: white;
  z-index: 99;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-predict::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
}

.search-predict::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.search-predict::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.65);
}

.search-prediction-results {
  margin: 1em 0;
}

.search-prediction-results:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}