.pokemon-display-image {
  width: 75%;
  height: 75%;
}

.selected-pokemon-info {
  margin: 0 1em;
  margin-right: 0;
  text-align: left;
  overflow: auto;
}

.image-button {
  background: none;
  border: none;
  outline: none;
  width: 2.5em;
  height: 2.5em;
  
  :hover {
    cursor: pointer;
  }
}

.next {
  position: absolute;
  right: 0;
  bottom: 0%;
}

.previous {
  position: absolute;
  left: 0;
  bottom: 0%;
}